/* selettori preliminari */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgb(0,150,136) 0 15%, rgb(219,219,212) 15% 85%);
    padding-top: 2vh;
    font-family: 'Noto Sans KR', sans-serif;
}

#root {
    width: 80vw;
    min-width: 700px;
    height: calc(100vh - (2vh * 2));
    min-height: 600px;
    margin: 0 auto;
    background-color: white;
}

/* /selettori preliminari */

/* selettori generici */

i, a {
    color: rgb(177,177,177);
}

input {
    font-family: 'Noto Sans KR', sans-serif;
}

.header-style {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 5px 10px;
    background-color: rgb(234,234,234);
}

.person-style > * {
    display: inline-block;
    vertical-align: middle;
}
.person-style .person-access {
    font-size: 0.8em;
    color: rgb(177,177,177);
}
.buttons-container-style i {
    padding: 0 5px;
    line-height: 50px; /* come il circle */
}

.circle-style {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: lightgrey;
    overflow: hidden;
}
.circle-style > i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.circle-style img {
    height: 100%;
    width: 100%;
}

.general-text-area-style {
    border-radius: 5px;
    background-color: white;
    border: none;
}

.chat-content [class*='row'] {
    padding: 5px;
}
.chat-content .row-me {
    text-align: right;
}
.chat-content [class*='-message'] {
    position: relative;
    display: inline-block;
    width: 40%;
    padding: 10px 15px 15px 10px;
    font-size: 0.8em;
    text-align: left;
}
.chat-content .me-message.general-text-area-style {
    background-color: rgb(213,249,186);
}
.chat-content .other-message.general-text-area-style {
    background-color: white;
}
.chat-content .message-time {
    position: absolute;
    right: 3px;
    bottom: 2px;
    font-size: 0.7em;
    color: rgb(177,177,177);
}

/* /selettori generici */

/* selettori specifici */

#root > [id*='-content'] {
    float: left;
    height: 100%;
}
#left-content {
    width: 40%;
    border-right: 1px solid rgb(177,177,177);
}
#right-content {
    width: calc(100% - 40%);
}

/* left */

#notifications {
    height: 10%;
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(142,218,252);
    font-size: 0.8em;
}
#notifications .circle-style {
    background-color: rgb(242,251,255);
}
#notifications .circle-style i {
    font-size: 1.4em;
    color: rgb(142,218,252);
}
#notifications div:last-child {
    width: 80%;
}

#search-chat {
    height: 7%;
    width: 100%;
    padding: 5px;
    background-color: rgb(250,250,250);
}
#search-chat .general-text-area-style {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#search-chat input {
    width: 80%;
    border: none;
    font-size: 0.7em;
    padding: 0.15em;
    color: grey;
}
#search-chat i {
    font-size: 0.8em;
}

#chats {
    width: 100%;
    min-height: calc(100% - 10% - 10% - 7%);
    overflow-y: scroll;
    background-color: white;
}
#chats .person-style {
    padding: 10px;
}
#chats .person-style:not(:last-child) {
    border-bottom: 1px solid rgb(234,234,234);
}
#chats .person-style.active {
    background-color: rgb(234,234,234);
}
#chats .person-style:not(.active):hover {
    background-color: rgb(234,234,234);
}

/* /left */

/* right */

.chat-content {
    min-height: calc(100% - 10% - 10%);
    width: 100%;
    padding: 20px;
    overflow-y: scroll;
    background-image: url('../img/mine.jpg');
}

.send-to {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(243,238,234);
}
.send-to .general-text-area-style {
    width: 80%;
    height: 100%;
    padding: 10px;
}
.send-to i {
    font-size: 1.2em;
    color: rgb(107,115,118);
}

/* /right */

/* /selettori specifici */
