<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Boolzap</title>
</head>
<body>
    
    <div id="root">
        <!-- contenitore sx -->
        <div id="left-content">
            <!-- user -->
            <div class="header-style">
                <div class="person-style" id="person-me">
                    <div class="circle-style">
                        <img :src="'img/avatar_io.jpg'">
                    </div>
                    <div class="person-info">
                        <div class="person-name">Nome Utente</div>
                    </div>
                </div>
                <div class="buttons-container-style">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- /user -->

            <!-- notifiche -->
            <div id="notifications">
                <div class="circle-style">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- /notifiche -->

            <!-- ricerca contatti -->
            <div id="search-chat">
                <div class="general-text-area-style">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search" v-on:keyup="contactVisibility">
                </div>
            </div>
            <!-- /ricerca contatti -->

            <!-- elenco contatti -->
            <div id="chats">
                <div v-for="(contact,index) in contacts" v-if="contact.visible" class="person-style" :class="(index == activeContact)? 'active' : ''" @click="openChat(index);closeWindow()">
                    <div class="circle-style">
                        <img :src="'img/avatar' + contact.avatar + '.jpg'">
                    </div>
                    <div class="person-info">
                        <div class="person-name">{{contact.name}}</div>
                        <div class="person-last-text">{{contact.messages[contact.messages.length - 1].text}}</div>
                        <div class="person-last-time">{{contact.messages[contact.messages.length - 1].date.format('DD/MM/YYYY HH:mm:ss')}}</div>
                        <div class="person-notification" :class="(contact.unread != 0)? 'visible' : ''">{{contact.unread}}</div>
                    </div>
                </div>
            </div>
            <!-- /elenco contatti -->
        </div>
        <!-- /contenitore sx -->

        <!-- contenitore dx -->
        <div id="right-content">
            <!-- contatto attuale -->
            <div class="header-style">
                <div class="person-style person-chatting" v-for="contacts[activeContact]">
                    <div class="circle-style">
                        <img :src="'img/avatar' + contacts[activeContact].avatar + '.jpg'">
                    </div>
                    <div class="person-info">
                        <div class="person-name">{{contacts[activeContact].name}}</div>
                        <div class="person-access">{{lastAccess}}</div>
                    </div>
                </div>
                <div class="buttons-container-style">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <!-- /contatto attuale -->

            <!-- chat con contatto attuale -->
            <div class="chat-content" v-for="contacts[activeContact]">
                <div class="row" v-for="(message,index) in contacts[activeContact].messages" :class="(message.status == 'sent')? 'row-me' : 'row-other'">
                    <div class="general-text-area-style" :class="(message.status == 'sent')? 'me-message' : 'other-message'">
                        <span v-html="message.text"></span>
                        <div class="message-time">
                            {{message.date.format('DD/MM/YYYY HH:mm:ss')}}
                        </div>
                        <i class="fas" :class="(clickedChevron != -1)? 'fa-chevron-up' : 'fa-chevron-down'" @click="toggleWindow(index)">
                            <ul :class="(clickedChevron == index)? 'visible' : ''" class="message-menu">
                                <li>Message info</li>
                                <li @click="deleteMessage(index,contacts[activeContact])">Delete message</li>
                            </ul>
                        </i>
                    </div>
                </div>
            </div>
            <!-- /chat con contatto attuale -->

            <!-- scrivi messaggio -->
            <div class="send-to" v-for="contacts[activeContact]">
                <i class="far fa-smile" @click="toggleEmoticons">
                    <ul :class="emoticonsActive? 'visible' : ''" class="emoticon-menu">
                        <li v-for="emoticon in emoticons">
                            <i class="fas" :class="'fa-' + emoticon" @click="insertEmoticon(emoticon)"></i>
                        </li>
                    </ul>
                </i>
                <input type="text" class="general-text-area-style" name="write-message" id="write-message" v-model="newMessage" placeholder="Scrivi un messaggio" v-on:keyup.enter="sendMessage(contacts[activeContact])">
                <i class="fas fa-microphone" :class="(newMessage == '')? 'fa-microphone' : 'fa-paper-plane'" @click="sendMessage(contacts[activeContact])"></i>
                </div>
            </div>
            <!-- /scrivi messaggio -->
        </div>
        <!-- /contenitore dx -->
    </div>

    <script src="js/main.js"></script>
</body>
</html>